[package]
name = "server"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
xtransport = { path = "../xtransport" }
env_logger.workspace = true
log.workspace = true
libc = "0.2"
